body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0rem;
    padding: 0px;
}
:root{
    --primary-color:red;
}
hr{
    margin: 2rem;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    
}
.non-bullets{
    list-style: none;
    text-align: right;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
/* nav */
.navigation-link{
    background-color:	rgb(51, 73, 138);
    padding:1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.navigation-link .link{
    color: white;   
}
.main-name{
    color:	rgb(221, 81, 34);
    font-style: bold;
    font-size: 22px;
}
.navigation .nav-pills{
    text-align: right;
}
.link-active{
    font-weight: bold;
}
/* headers */
.hero{
    padding: 2rem;
}
.hero-img{
    max-width: 400px;
    margin: auto;
    display: block;
}
.hero-name{
    color: gray;
    font-size: 36px;
    font-style: italic;
    text-align: center;
}
.hero-inverted{
    color: var(--primary-color);
}
/* secions */
.section{
    padding: 2rem;
}
.section h3{
    text-align: center;
}
.container-center{
    text-align: center;
}
.ctn-header{
    color: blue;
    text-align: center;
}
.social-links{
    list-style: none;
}
.links{
    text-decoration: none;
    color: white;
    text-align: right;
    font-size: 19px;
    
}
.footer-head{
    padding-left: 0rem;
    color: red;
}
.footer{
    background-color: 	rgb(150, 146, 150);
    padding: 2rem 0rem;
    text-align: center;
}
.footer-head{
    text-align: left;
}
.ending{
    text-align: right;
    color: orange;
    font-size: 18px;
    font-style: italic;
}
.non-bullets li a:hover{
    color: 	rgb(221, 81, 34);
}
.main-part{
    color: #000000;
}
.para-upper{
    color: 	rgb(0, 163, 41);
}
.para-down{
    color: 	rgb(0, 163, 41);
}
.para-downer{
    color: 	rgb(0, 163, 41) ;
}
.links:hover{
    color: 	rgb(221, 81, 34);
}
.primary-link{
    color: white;
    background-color:rgb(51, 73, 138 );
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    font-style: bold;
    padding: 0.5rem 0.5rem;
}